.container-principal{font-family: 'Verdana';color: #777; width: 100%;}
body{width: 100%; margin-left: -0.5%; background: #fff}
/* definir as propriedades do topo */
header{
    width: 100%;
    background-color: #fff;
    position: relative; 
    padding-top: 36px;
    padding-bottom: 50px;
    margin-top: -40px;
}

/* definir as propriedades do logo */
.logo{
    position: relative;
    top: 60%; 
    width: 20%; 
}
.logo img{width: 100%; margin-left: 10%;}

/* definir as propriedades do menu*/

nav ul{
    position: relative;
    width: 80%;
    margin-top: -5%;
}

nav ul li{
    position: relative;
    left: 55%;
    float: left; 
    color: #fff; 
    padding-right: 1.5%;
    padding-left: 1.5%;
    height: 50px;
    font-size: 1.5em; 
    font-family: 'Verdana';
    list-style: none;
}
nav ul li a {text-decoration: none;color: #bbb;}
nav ul li a:hover{color:#b13030}

/* definir as propriedades da imagem principal */
#banner{width: 100%;}
#banner img{width: 100%; margin-bottom: 0;}

/* definir as propriedades dos pop'us */
.modalDialog{
    position: fixed;
    font-family: 'Verdana';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(181, 9, 9, 0.8);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: none;
}
.modalDialog:target{
    display: block;
    opacity: 1;
    pointer-events: auto;
}
.modalDialog div{
    width: 50% /*500px;*/
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 10px;
    background-color: #fff;
}
.modalDialog p {margin-top: 5%;margin-left: 5%;}
.modalDialog img{width: 20%;position: relative;left: 40%;}
.close{
    background-color: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.close:hover{background-color: #b50909;}
footer{
    width: 100%; 
    height: 18%; 
    background-color: #b50909;
    color: #fff; 
    position: relative; 
    float: left; 
    font-family: 'verdana';
}
footer .footer-text{
    width: 30%; 
    margin: 1%; 
    position: relative; 
    float: left;
}
footer .footer-text a{color: #fff;}

/* define a cor de fundo das páginas sobre, clientes e contato */
.color-page {background-color: #ddd;}

/* definir as propriedades das imagens de titulo */
.img-titulo{
    width: 20%; 
    height: auto; 
    position: relative;
    top: 20px;
    left: 40%; 
}
.img-titulo img{width: 90%;}

/* definir as propriedades da página clientes */
#clientes-code{
    width: 75%; 
    position: relative; 
    left: 15%;
}

#clientes-code .config-clientes{
    position: relative;  
    width: 43%; 
    border: 1px solid #b50909;
    margin-left: 4%; 
    padding: 1%;
    float: left;  
    margin-top: 30px; 
    background-color: #fff;
}
#clientes-code .config-clientes img{width: 60%; margin-left: 20%; margin-bottom: 20px;}
#clientes-code .config-clientes p{
    width: 90%; 
    margin-left: 5%; 
    font-size: 1.2em; 
    margin-bottom: 20px; 
    text-align: center;
}
#clientes-code .config-clientes p a {color: #111;}

/* definir as propriedades da página contato */
#txt-contato{width: 100%; height: 100%;}
#txt-contato form{
    width: 38%; 
    position: relative; 
    float: left; 
    padding: 2%; 
    min-height: 400px;
}
#txt-contato form label{font-weight: bold;}
#txt-contato form input{
    max-width: 100%; 
    width: 99%; 
    height: 30px; 
    margin-top: 10px;
    margin-bottom: 15px; 
    border: solid #b50909; 
    padding-left: 1%;
}

#txt-contato form textarea{
    max-width: 100%; 
    width: 99%; 
    border: solid #b50909 1px; 
    padding-left: 1%; 
    min-height: 100px;
}

#txt-contato form button{ 
    width: 30%; 
    height: auto; 
    cursor: pointer; 
    background-color: #b50909;
    color: #fff; 
    font-size: 1.5em; 
    padding: 15px 0 15px 0; 
    margin-left: 35%; 
    margin-top: 1%;
}

#txt-contato #conta-data{
    width: 26%;
    position: relative; 
    float: left; 
    padding: 2%;
    background-color: #b50909; 
    color: #fff;
    top: 5%; 
    margin-left: 1.5%; 
    height: 400px; 
    text-align: center;
}
#txt-contato #conta-data h3{color: #fff; text-align: center; }
#txt-contato #conta-data h5{margin-top: 6%; margin-bottom: 4%; vertical-align: middle;}
#txt-contato #conta-data h5 img{width: 50px;}

@media only screen and (max-width: 900px){   
    nav ul li{
        left: 40%;
    }

    .logo{
        width: 30%;
    }    
}

@media only screen and (max-width: 722px){
    nav ul li{
        font-size: 20px;
    }
}

@media only screen and (max-width: 560px){
    nav ul li{
        left: 10%;
        top: 95%;
        font-size: 18px;
    }

    .logo{
        width: 40%;
        position: relative;
        left: 25%;
    }
}

@media only screen and (max-width: 440px){
    nav ul li{
        font-size: 16px;
    }

    nav ul{
        width: 88%;
    }

    body{
        font-size: 12px;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 370px){
    nav ul li{
        left: -10%;
    }

    .logo{
        width: 50%;
    }

    nav ul{
        width: 85%;
    }

    body{
        font-size: 10px;
    }
}

@media only screen and (max-width: 304px){
    .logo{
        width: 60%;
    }

    nav ul li{
        font-size: 16px;
    }
}
